<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>publishKey</key>
	<string>pub-c-f210bade-4506-4b99-b572-888bddc01d75</string>
	<key>subscribeKey</key>
	<string>sub-c-9822b8a7-80eb-4320-a2fb-d88d1f37e284</string>
</dict>
</plist>
