<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>publishKey</key>
	<string>pub-c-01e33c45-37ef-4aef-9509-13bf3c48a057</string>
	<key>subscribeKey</key>
	<string>sub-c-7ce25ca5-2940-48c7-9cb9-1f75744ccf12</string>
	<key>userId</key>
	<string>userId</string>
</dict>
</plist>
